<span class="badge"><%= link_to category.name, category_path(category) %>  </span>

Update styling in your custom.css.scss file under app/assets directory:

.badge {

background-color: #CEF6F5;

text-transform: uppercase;

letter-spacing: -1px;

font-weight: bold;

}

.input_checkbox input {

width: auto !important;

}

