<div class="container">
	<footer class="footer">
		<small>
			copyright 2017 &copy; <a href="http://www.cgmeetup.com"> Computer Graphics & Digital Art Community for Artist: Job, Tutorial, Art, Concept Art, Portfolio All rights reserved.</a>
			 <a href="http://www.cgmeetup.com/">All rights reserved</a>
		</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
		</ul>
	</nav>
	</footer>	
</div>
